# Directories that are generated
/tags
cmake-build*
_build/

# Filetypes
*~
*.pyc
*.swp

# OSX
.DS_Store

# Credentials files referenced in release documentation.
github_token.txt
jira_creds.txt

# Hugo artifacts.
.hugo_build.lock
