name: proton-fraud-detection
services:
  proton:
    image: d.timeplus.com/timeplus-io/proton:latest
    pull_policy: always
    healthcheck:
      test: ["CMD", "curl", "http://localhost:3218/proton/ping"]
      interval: 2s
      timeout: 10s
      retries: 3
      start_period: 10s

  online-payment-data:
    image: docker.timeplus.com/timeplus/fraud:2cfdfbc
    pull_policy: always
    environment:
      PROTON_HOST: proton
    depends_on:
      proton:
        condition: service_healthy

  note-book:
    image: jupyter/scipy-notebook:latest
    entrypoint: jupyter notebook --ip='*' --NotebookApp.token='' --NotebookApp.password=''
    ports:
      - 8888:8888
    volumes:
      - ./notebooks:/home/jovyan/work
