services:
  proton:
    image: ghcr.io/timeplus-io/proton:latest
    pull_policy: always
    ports:
      - 3218:3218 #http port for JDBC driver, default streaming mode
      - 8123:8123 #http port for JDBC driver, default batch mode
      # - 8463:8463 #tcp port for go driver or grafana plugin

  carsharing_datagen:
    image: timeplus/cardemo:latest
    entrypoint: /bin/sh
    command: -c "sleep 15 && echo \"$$CONSOLE_CONFIG_FILE\" > /timeplus/sink.yaml;  /timeplus/cardemo --config /timeplus/.cardemo.yaml -f /timeplus/sink.yaml"
    environment:
      CONSOLE_CONFIG_FILE: |
        sinks:
          - type: proton
            properties:
              interval: 200
              host: proton
    depends_on:
      - proton
