pytest==8.3.4
requests==2.32.3
pyOpenSSL==24.3.0
pytest-cases==3.8.6
unidiff==0.7.5
docker-compose==1.29.2
boto3==1.35.78
urllib3==2.2.3
pytest-html==4.1.1
psycopg2-binary==2.9.10
kafka-python==2.0.2
timeplus==1.4.1
sseclient-py==1.8.0
proton-driver==0.2.13
