CMakeCache.txt
CMakeFiles/*
Makefile
include/my_config.h
include/mysql_version.h
CMakeFiles
mysql_config/mysql_config.c
examples/mysql_affected_rows
examples/mysql_debug
examples/test_output
mysql_config/mysql_config
mariadb_config/libmariadb.pc

# Keep empty directories:
# Keep empty directories: >> .gitignore/.git*

# Compiled Static libraries
*.lib
*.a
*.la
*.lai
*.lo

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.dgcov
.*.swp
.gdb_history
CTestTestfile.cmake
cmake_install.cmake
bin/
include/config.h
include/ma_config.h
include/mariadb/mariadb/
include/mariadb/ma_errmsg.h
include/mariadb/ma_list.h
include/mariadb/ma_pvio.h
include/mariadb/ma_tls.h
include/mariadb/mariadb_com.h
include/mariadb/mariadb_ctype.h
include/mariadb/mariadb_dyncol.h
include/mariadb/mariadb_stmt.h
include/mariadb/mariadb_version.h
include/mariadb/mysql.h
include/mariadb/mysql/
include/mariadb_version.h
lib/
libmariadb/home/
libmariadb/ma_client_plugin.c
libmariadb/mariadbclient.def
mariadb_config/mariadb_config
mariadb_config/mariadb_config.c
unittest/libmariadb/async
unittest/libmariadb/basic-t
unittest/libmariadb/bulk1
unittest/libmariadb/charset
unittest/libmariadb/connection
unittest/libmariadb/cursor
unittest/libmariadb/dyncol
unittest/libmariadb/errors
unittest/libmariadb/features-10_2
unittest/libmariadb/fetch
unittest/libmariadb/fingerprint.list
unittest/libmariadb/logs
unittest/libmariadb/misc
unittest/libmariadb/performance
unittest/libmariadb/ps
unittest/libmariadb/ps_bugs
unittest/libmariadb/ps_new
unittest/libmariadb/result
unittest/libmariadb/rpl_api
unittest/libmariadb/sp
unittest/libmariadb/sqlite3
unittest/libmariadb/ssl
unittest/libmariadb/ssl.c
unittest/libmariadb/t_aurora
unittest/libmariadb/t_conc173
unittest/libmariadb/thread
unittest/libmariadb/view
unittest/libmariadb/conc336

#VS files/directories
*.vcxproj
*.filters
*.user
ipch
*.sln
*.suo
*.sdf
Win32
x64
*.dir
Debug
Release
RelWithDebInfo

#vim backups
*.*~
